html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container .successMessage {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 600px;
    height: 500px;
    border-radius: 10px;
    border: #d2d2d2;
    box-shadow: 15px 18px 15px 18px rgb(210 210 210 / 80%);
}

.container .successMessage h1 {
    margin-top: 50px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    color: rgb(10, 59, 10);
}

.container .successMessage img {
    width: 300px;
    height: 300px;
    margin: 30px 160px;
}